<div class="container">
  <h2>DASHBOARD</h2>


  <%# PROFILE INFO %>
  <div class="profile-infos-card">
    <%= cl_image_tag @user.avatar.key, class: "user-avatar", alt: "User Avatar" %> </a>
    <p><strong>Email: </strong><%= @user.email %></p>
    <p><strong>Username: </strong><%= @user.username %></p>

    <%= link_to 'Update Profile', edit_user_registration_path, class: 'update-profile-btn' %>
  </div>

  <%# LESSONS INFOS %>
  <div>
    <h3>LESSONS INFOS:</h3>
    <div class="lessons-infos-card">
      <% @favorites.each do |favorite| %>
        <li><strong><%= favorite.lesson.name %></strong></li>
        <i class="fa-solid fa-clock" style="color: #5c5c5c;"></i><%= favorite.lesson.duration %>
        <i class="fa-solid fa-layer-group" style="color: #5c5c5c;"></i><%= favorite.lesson.level %>
        <i class="fa-solid fa-bolt" style="color: #5c5c5c;"></i><%= favorite.lesson.boost %>
      <% end %>
  </div>



  <%= link_to "Go back to HOME", root_path, class: "btn btn-primary mt-5" %>
</div>
