<div class="homepage">
  <div class="navbar-expand-sm navbar-light navbar-homepage">
    <%= render "shared/navbar" %>
  </div>
  <%# SCRIPT FOR THE NAVBAR %>
  <script>
  document.addEventListener("DOMContentLoaded", function() {
    var navbar = document.querySelector('.navbar-homepage');
    var scrollThreshold = 680;
    var scrollButton = document.getElementById("scrollButton");

    window.addEventListener('scroll', function() {
      if (window.scrollY > scrollThreshold) {
        navbar.classList.add('navbar-scrolled');
        scrollButton.style.display = "block";
      } else {
        navbar.classList.remove('navbar-scrolled');
        scrollButton.style.display = "none";
      }
    });

    scrollButton.addEventListener("click", function() {
      window.location.href = "/lessons/new";
    });
  });
  </script>


  <%# HEADER SECTION %>
  <div class="header-section d-flex flex-column justify-content-end"
      style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path('home/header.jpg') %>');">
      <h1>YOUR PERSONNAL GUIDE</h1>
      <h1>TO MOVEMENT IN CONSCIOUSNESS</h1>
      <div class="button-homepage">
        <%= link_to "Get started", new_lesson_path, class: "orange-btn" %>
      </div>
  </div>

  <div style="height: 50px;"></div>


  <%# ----------------- CONTENT SECTION --------------------%>

  <%# SECTION 1 %>
  <div class="container">
    <%# -------- 📌 Relative ---------%>
    <div class="d-flex align-items-end" style="position: relative;">
      <%# DIV LEFT (📷) %>
      <div style="flex: 45%;">
        <%= image_tag('home/image1.jpg', alt: 'Image 1', class: 'home-image', style: 'border-radius: 20px;') %>
      </div>

      <%# DIV RIGHT (📃) %>
      <div style="display: flex; flex-direction: column; justify-content: flex-end">
        <%# -------- 📌 Absolute ---------%>
        <h2 style="position: absolute; width: 100%; left: 390px; top: 15px;" class="title-spicy-1">
          Breath Couture - Customize Your Exhale
        </h2>
        <div style="padding-left: 30px; text-align: justify;">
          <h3 style="padding-bottom: 30px;">Choose what is the best for you</h3>

            <p>Find breathing technique to lower stress and bring focus. They take just few
            minutes and can be done from everywhere.</p>
            <p>These accessible breathing techniques offer a quick respite in the midst of a
            hectic day. As you inhale and exhale with intention, the rhythm of your breath
            becomes an anchor, grounding you in the present moment.</p>
            <p> One effective method is the Nadi Shodhana breathing technique. With this practice,
            you alternate inhaling and exhaling through each nostril while using your fingers to
            regulate airflow. This rhythmic breathwork harmonizes the left and right hemispheres
            of the brain, promoting balance and reducing stress. Regular Nadi Shodhana practice
            can lead to improved focus and a calmer mind. </p>
        </div>
      </div>
    </div>
  </div>




    <div style="height: 150px;"></div>




  <%# SECTION 2 %>
  <div class="container">
    <%# -------- 📌 Relative ---------%>
    <div class="d-flex align-items-end" style="position: relative;">

      <%# DIV LEFT (📃) %>
      <div style="display: flex; flex-direction: column; justify-content: flex-end">
        <%# -------- 📌 Absolute ---------%>
        <h2 style="position: absolute; width: 100%; left: 264px; top: 15px;" class="title-spicy-2">
          Posture Play - Design Your Flow
        </h2>
        <div style="padding-right: 30px; text-align: justify;">
          <h3 style="padding-bottom: 30px;">Choose what is the best for you</h3>

            <p>Choose your own yoga class for body, mind, and spirit. Improve your balance, strengh
            and flexibiliy with classes for all levels. </p>
            <p> As you embark on this journey, consider the art of designing your yoga practice to align
            with your goals and aspirations. Embrace a range of dynamic asanas that challenge your body
            and invigorate your spirit, allowing you to push boundaries and discover new levels of strength.</p>
            <p>By curating your practice with a mix of invigorating and calming postures, you'll craft a balanced
            routine that that foster a deep mind-body connection, enhancing your mental clarity and focus. Just
            as life is a collection of experiences, your yoga mat becomes a canvas for self-expression and growth. </p>
        </div>
      </div>

      <%# DIV RIGHT (📷) %>
      <div style="flex: 45%;">
        <%= image_tag('home/image2.jpg', alt: 'Image 1', class: 'home-image', style: 'border-radius: 20px;') %>
      </div>
    </div>
  </div>



  <div style="height: 150px;"></div>




  <%# SECTION 3 %>
  <div class="container">
    <%# -------- 📌 Relative ---------%>
    <div class="d-flex align-items-end" style="position: relative;">
      <%# DIV LEFT (📷) %>
      <div style="flex: 45%;">
        <%= image_tag('home/image3.jpg', alt: 'Image 1', class: 'home-image', style: 'border-radius: 20px;') %>
      </div>

      <%# DIV RIGHT (📃) %>
      <div style="display: flex; flex-direction: column; justify-content: flex-end">
        <%# -------- 📌 Absolute ---------%>
        <h2 style="position: absolute; width: 100%; left: 390px; top: 15px;" class="title-spicy-3">
          Meditation Map - Shape Your Serenity
        </h2>
        <div style="padding-left: 30px; text-align: justify;">
          <h3 style="padding-bottom: 30px;">Choose what is the best for you</h3>

            <p>Try meditation for improved focus, concentration, and cultivating positive habits. With a few daily minutes, you can create a peaceful mental space. Mindfulness meditation, observing thoughts without judgment, nurtures self-acceptance. Guided sessions offer structured techniques to guide your focus.</p>
            <p>Meditation fosters presence, enriching engagement in daily activities. These moments of mindfulness extend self-kindness and self-connection. Integrate meditation to explore personal growth with a foundation of self-awareness.</p>
            <p>Furthermore, meditation nurtures a harmonious relationship with thoughts, reducing the pull of distractions. It's a practice that encourages clarity, focus, and self-love, inviting positive habits."</p>
        </div>
      </div>
    </div>
  </div>



  <div style="height: 150px;"></div>



  <%# SECTION 4 %>
  <div class="container">
    <%# -------- 📌 Relative ---------%>
    <div class="d-flex align-items-end" style="position: relative;">

      <%# DIV LEFT (📃) %>
      <div style="display: flex; flex-direction: column; justify-content: flex-end">
        <%# -------- 📌 Absolute ---------%>
        <h2 style="position: absolute; width: 100%; left: 264px; top: 15px;" class="title-spicy-4">
          Choose Your Duration, Level, Boost
        </h2>
        <div style="padding-right: 30px; text-align: justify;">
          <h3 style="padding-bottom: 30px;">Choose what is the best for you</h3>

            <p>Engage in a truly individualized practice that caters to your unique needs and aspirations. Whether you're a beginner seeking gentle guidance or an experienced practitioner craving challenges, our adaptable approach ensures a rewarding experience. </p>
            <p>By customizing each session, you'll find yourself embracing the mat with enthusiasm and anticipation. The added boost further amplifies your progress, addressing areas you wish to nurture – be it flexibility, strength, or mindfulness. Step onto your mat with the confidence that every breath, every posture, is tailored to sculpt your path towards a more enriched and fulfilling journey.</p>
        </div>
      </div>

      <%# DIV RIGHT (📷) %>
      <div style="flex: 45%;">
        <%= image_tag('home/image4.jpg', alt: 'Image 1', class: 'home-image', style: 'border-radius: 20px;') %>
      </div>
    </div>
  </div>


  <div style="height: 150px;"></div>



  <%#                    ---------------------------                      %>


  <div class="col-md-12 d-flex justify-content-center">
    <div class="text-center">
      <h2 class="spicy-rice-title" style="margin-top: 20px; margin-bottom: 30px;">Let's begin your journey now!</h2>
      <br>
      <%= link_to "Get started", new_lesson_path, class: "orange-btn" %>
    </div>
  </div>


  <%# A little margin between the content and the Footer (adjust accordinly) %>
  <div style="height: 250px;"></div>


  <%# Footer %>
  <%= render "shared/footer" %>
  </div>
</div>
