<div class="container" id="profilepages">

  <!-- PROFILE -->
  <div class="profile-infos-card">
    <div class="d-flex">
      <%= cl_image_tag @user.avatar.key, class: "user-avatar", alt: "User Avatar" %>
      <p class= "hello-name-profile"> Hello <%= @user.username %> ! </p>
    </div>


    <%= link_to 'Update Profile', edit_user_registration_path, class: 'update-profile-btn' %>
  </div>

  <!-- FAVORITES -->
  <div>
    <h3> FAVORITES :</h3>
    <div class="container d-flex  justify-content-between">
      <div class=" d-flex justify-content-between pb-4">
        <% @favorites.each do |favorite| %>
          <div class="s-card d-flex flex-column justify-content-end">
            <iframe width="350" height="250" src="<%= favorite.lesson.video_url %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <div class="bottom-band d-flex justify-content-between align-items-center" >
              <h3 class="title-card" ><%= link_to favorite.lesson.name, lesson_path(favorite.lesson) %> </h3>
                <div class="subtitle-card">
                  <i class="fa-solid fa-clock" style="color: #5c5c5c;"></i> <%= favorite.lesson.duration %>
                  <i class="fa-solid fa-layer-group" style="color: #5c5c5c;"></i> <%= favorite.lesson.level %>
                  <i class="fa-solid fa-bolt" style="color: #5c5c5c;"></i> <%= favorite.lesson.boost %>
                  <%= link_to favorite_path(favorite), data: { turbo_method: 'delete', turbo_confirm: 'Are you sure ?' } do %>
                  <i class="fa-solid fa-trash" style="color: #ea0b0b;"></i>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <br>
  <!-- HISTORY -->
  <div>
    <h3>HISTORY :</h3>
    <div class="container d-flex justify-content-between">
      <div class="d-flex justify-content-between pb-4">
        <% @lessons.each do |lesson| %>
          <div class="s-card d-flex flex-column justify-content-end">
            <iframe width="350" height="250" src="<%= lesson.video_url %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <div class="bottom-band d-flex justify-content-between align-items-center">
              <h3 class="title-card"><%= link_to lesson.name, lesson_path(lesson) %></h3>
              <div class="subtitle-card">
                <i class="fa-solid fa-clock" style="color: #5c5c5c;"></i> <%= lesson.duration %>
                <i class="fa-solid fa-layer-group" style="color: #5c5c5c;"></i> <%= lesson.level %>
                <i class="fa-solid fa-bolt" style="color: #5c5c5c;"></i> <%= lesson.boost %>
                <%= link_to lesson_favorites_path(lesson), data: { turbo_method: :post } do %>
                  <i class="fa-regular fa-heart fa-2xl" style="color: #668a6e;"></i>
                <% end %>
                <%= link_to lesson_path(lesson), data: { turbo_method: 'delete', turbo_confirm: 'Are you sure ?' } do %>
                  <i class="fa-solid fa-trash" style="color: #ea0b0b;"></i>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="mt-4 mb-4">
    <%= link_to "Go back to HOME", root_path, class: "green-btn" %>
  </div>
</div>
