<div class="container">

  <!-- PROFILE -->
  <div class="profile-infos-card">
    <%= cl_image_tag @user.avatar.key, class: "user-avatar", alt: "User Avatar" %>
    <p><strong>Email: </strong><%= @user.email %></p>
    <p><strong>Username: </strong><%= @user.username %></p>

    <%= link_to 'Update Profile', edit_user_registration_path, class: 'update-profile-btn' %>
  </div>

  <!-- FAVORITES -->
  <div>
    <h3>FAVORITES :</h3>
    <div class="lessons-infos-grid">
      <% @favorites.each do |favorite| %>
        <div class="lesson-card">
          <iframe width="350" height="250" src="<%= favorite.lesson.video_url %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <h3><%= favorite.lesson.name %></h3>
          <i class="fa-solid fa-clock" style="color: #5c5c5c;"></i><%= favorite.lesson.duration %>
          <i class="fa-solid fa-layer-group" style="color: #5c5c5c;"></i><%= favorite.lesson.level %>
          <i class="fa-solid fa-bolt" style="color: #5c5c5c;"></i><%= favorite.lesson.boost %>
            <%= link_to favorite_path(favorite), data: { turbo_method: 'delete', turbo_confirm: 'Are you sure ?' } do %>
              <i class="fa-solid fa-trash" style="color: #ea0b0b;"></i>
            <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <!-- LESSONS -->
  <div>
    <h3>LESSONS :</h3>
    <div class="lessons-infos-grid">
      <% @lessons.each do |lesson| %>
        <div class="lesson-card">
          <iframe width="350" height="250" src="<%= lesson.video_url %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <h3><%= lesson.name %></h3>
          <i class="fa-solid fa-clock" style="color: #5c5c5c;"></i><%= lesson.duration %>
          <i class="fa-solid fa-layer-group" style="color: #5c5c5c;"></i><%= lesson.level %>
          <i class="fa-solid fa-bolt" style="color: #5c5c5c;"></i><%= lesson.boost %>
        </div>
      <% end %>
    </div>
  </div>


  <%= link_to "Go back to HOME", root_path, class: "btn btn-primary mt-5" %>
</div>
