<div class="container" id="profilepages">

  <!-- PROFILE -->
  <div class="profile-infos-card">
    <div class="d-flex">
      <%= cl_image_tag @user.avatar.key, class: "user-avatar", alt: "User Avatar" %>
      <p class= "hello-name-profile"> Hello <%= @user.username %> ! </p>
    </div>


    <%= link_to 'Update Profile', edit_user_registration_path, class: 'update-profile-btn' %>
  </div>

  <!-- FAVORITES -->
  <div>
    <h3> FAVORITES :</h3>
    <div class="container-fluid">
      <div class="scrolling-wrapper d-flex">
        <% @favorites.each do |favorite| %>
          <div class="s-card">
            <div class="s-card-media">
              <iframe width="350" height="250" src="<%= favorite.lesson.video_url %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div class="card-bottom-main-div">
              <div class="card-bottom-left-div">
                <span class="title-card-profile" ><%= link_to favorite.lesson.name, lesson_path(favorite.lesson) %> </span>
                <br>
                <span class="custom-subtext-card">
                  <%= favorite.lesson.created_at.strftime('%d %b') %> -
                  <%# LE BOLD VEUT PAS MARCHER... %>
                    <span class="custom-subtext-card"><%= favorite.lesson.duration %> min</span>
                  </span>
                </div>
                <div class="card-bottom-right-div" data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="bottom" title="Delete info" data-bs-content="Do you want to delete this favorite?">
                  <%= button_to favorite_path(favorite), method: :delete, form_class: 'delete-alertbox', class: 'd-inline', class: 'no-border-sweet-alert' do %>
                    <i class="fa-solid fa-heart fa-xl" style="color: #668A6E;"></i>
                  <% end %>
                </div>
              </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>


  <br>

  <!-- HISTORY -->
  <div>
    <h3>HISTORY:</h3>
    <div class="container-fluid">
      <div class="scrolling-wrapper d-flex">
          <% @lessons.each do |lesson| %>
            <div class="s-card">
              <div class="s-card-media">
                <iframe width="350" height="250" src="<%= lesson.video_url %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
              </div>
              <div class="card-bottom-main-div">
                <div class="card-bottom-left-div">
                  <span class="title-card-profile" ><%= link_to lesson.name, lesson_path(lesson) %> </span>
                  <br>
                  <span class="custom-subtext-card">
                    <%= lesson.created_at.strftime('%d %b') %> -
                    <%# LE CUSTOM BOLD VEUT PAS MARCHER... %>
                    <span class="custom-subtext-card"><%= lesson.duration %> min</span>
                  </span>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>


  <div class="container mt-4 mb-3">
    <%= link_to "Go back to HOME", root_path, class: "green-btn" %>
  </div>
</div>
