


<div class="simple-calendar">
  <div style="display: flex; justify-content: center;">
    <%= link_to profile_path, class: "red-btn-round" do %>
      <i class="fas fa-user"></i>
    <% end %>
  </div>
  <div class="calendar-heading terracota-theme">
    <%= link_to raw('<i class="fa-solid fa-circle-arrow-left fa-2xl" style="color: #E2C3B7"></i>'), calendar.url_for_previous_view, class: 'btn terracota-theme' %>
    <span class="calendar-title terracota-theme"><%= t('date.month_names')[start_date.month] %> <%= start_date.year %></span>
    <%= link_to raw('<i class="fa-solid fa-circle-arrow-right fa-2xl" style="color: #E2C3B7"></i>'), calendar.url_for_next_view, class: 'btn terracota-theme' %>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>


    <tbody>
      <% date_range.each_slice(7) do |dates| %>
        <tr>
          <% dates.each do |date| %>
            <%= content_tag :td, class: calendar.td_classes_for(date) do %>
              <% passed_block.call date.day, sorted_events.fetch(date, []) %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
