<%= simple_form_for @lesson do |form| %>
  <%= form.input :name %>
  <%= form.input :duration, collection: ['5min', '10min', '15min', '20min']%>
  <%= form.input :breathing %>
  <%= form.input :posture %>
  <%= form.input :meditation %>
  <%= form.input :level, collection: ['beginner', 'intermediate', 'advanced'] %>
  <%= form.input :boost, collection: ['💪 Arm', 'Legs', 'Back'] %>

  <%= form.button :submit, "Create Lesson",
      class: "btn btn-primary mt-3 mb-3" %>
<% end %>

<div class="d-flex justify-content-between align-items-center" >
<div> <%= render "shared/card" %> </div>
<div> <%= render "shared/card" %> </div>

 </div>
