<div data-controller="loader" >
  <div data-loader-target="visible">
      <div class="d-flex justify-content-center align-items-center mb-0 title-lesson">
        <div>
          <h1>What do you want to do today?</h1>
        </div>
      </div>

      <%# Cards %>

    <div>
      <%= simple_form_for @lesson do |form| %>

        <div class="container-fluid">
          <div class=" d-flex justify-content-center my-3 s-cards-container">
            <%# Card Respiration %>
            <div class="s-card d-flex flex-column justify-content-end " style="background-image: url(<%= image_path('lesson/card2.jpg') %>);">
              <div class="bottom-band d-flex justify-content-between align-items-center" >
                <div>
                  <h3 class="title-card"> Breathing </h3>
                  <p class="subtitle-card"> 30s - 15min </p>
                </div>
                <div class = "tag-item-checkbox">
                    <%= form.input :breathing,
                    input_html: { class: "tag-selector-checkbox"} %>
                </div>
              </div>
            </div>

            <%# Card Posture %>
            <div class="s-card s-card-full s-card-posture d-flex flex-column justify-content-end " style="background-image: url(<%= image_path('lesson/card1.jpg') %>);">
              <div class="bottom-band ">
                <div class="d-flex justify-content-between align-items-center s-card-infos-secondary">
                  <div>
                    <h3 class="title-card"> Posture </h3>
                    <p class="subtitle-card"> Choose your level & boost </p>
                  </div>

                  <div class = "tag-item-checkbox">
                    <%= form.input :posture,
                    input_html: { class: "tag-selector-checkbox"} %>
                  </div>
                </div>

                <%# Options Level & Boost %>
                <div class="">
                  <div class="tag-item-level">
                    <%= form.input :level,
                    as: :radio_buttons,  collection: ['Beginner', 'Intermediate', 'Advanced'],
                    input_html: { class: "tag-selector-level"} %>
                  </div>
                  <div class="tag-item-target">
                    <%= form.input :boost,
                    as: :radio_buttons, collection: ['Neck and Shoulder','Chest', 'Hamstring', 'Hip Flexor', 'Backbend', 'Twist'],
                    input_html: { class: "tag-selector-target"} %>
                  </div>
                </div>
              </div>
            </div>

            <%# Card Mediatation %>
            <div class="s-card d-flex flex-column justify-content-end " style="background-image: url(<%= image_path('lesson/card3.jpg') %>);">
              <div class="bottom-band d-flex justify-content-between align-items-center" >
                <div>
                  <h3 class="title-card"> Meditation </h3>
                  <p class="subtitle-card"> 5mn - 20mn  </p>
                </div>
                  <div class = "tag-item-checkbox">
                    <%= form.input :meditation,
                    input_html: { class: "tag-selector-checkbox"} %>
                  </div>
              </div>
            </div>
        </div>
      </div>

          <div class="">
              <div class="tag-item-duration d-flex justify-content-center">
                <%= form.input :duration,
                as: :radio_buttons, collection: ['10min','20min', '30min','40min', '1h',],
                input_html: { class: "tag-selector-duration"} %>
              </div>
              <div class= "container col-6 col-md-3 tag-item-name">
                <%= form.input :name, label: false, placeholder: "Give a name to your lesson",
                input_html: { class: "tag-selector-name"} %>
              </div>
              <div class="col-md-12 d-flex justify-content-center">
                <%= form.button :submit, "Let's start !", class: "pink-btn-big mb-4 mt-3", data: {action: "click->loader#hideTargets click->loader#showTargets" }%>
              </div>
          </div>
        </div>
      <% end %>
  </div>
    <div data-loader-target="hideable" hidden class="position-fixed w-100 h-100" style="background-color: #668A6E;">
      <div class="cs-loader">
        <div class="cs-loader-inner w-100">
          <h3>Please wait</h3>
          <label>●</label>
          <label>●</label>
          <label>●</label>
          <label>●</label>
          <label>●</label>
          <label>●</label>
          <h3>Your personalized lesson is being generated</h3>
        </div>
      </div>
    </div>
</div>
