<div class="container">
  <%# VIDEO YOUTUBE %>
  <div class="d-flex justify-content-center shadow-lg p-3 mb-4 bg-body-tertiary rounded">
      <iframe class="flex-item" width="1250" height="725" src="<%= @lesson.video_url %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>

  <div class="d-flex justify-content-between">
    <h1 class="lesson-title"><%= @lesson.name  %></h1>
    <div class="mt-2">
      <%= link_to "My History", profile_path, class: "green-btn" %>
      <%= link_to lesson_favorites_path(@lesson), data: {turbo_method: :post} do %>
        <i class="fa-regular fa-heart fa-2xl" style="color: #668a6e;"></i>
      <%end%>
    </div>
  </div>
    <div class="d-flex justify-content-start" >
      <p class="lesson-info pe-4"><i class="fa-solid fa-clock" style="color: #5c5c5c;"> </i>  <%= @lesson.duration %></p>
      <p class="lesson-info pe-4"><i class="fa-solid fa-layer-group" style="color: #5c5c5c;">  </i> <%= @lesson.level %></p>
      <p class="lesson-info pe-4"><i class="fa-solid fa-bolt" style="color: #5c5c5c;">  </i> <%= @lesson.boost %></p>
    </div>
</div>
